footer {
  height: 300px;
  background-color: black;
  color: aliceblue;
}

.social a {
  color: rgba(255, 0, 0, 0.801);
  padding: 5px;
}

.social a:hover {
  color: gray;
}

ul {
  color: rgba(255, 0, 0, 0.801);
}

.heading {
  color: rgba(255, 0, 0, 0.801);
}

.heading:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

#style {
  color: rgba(255, 0, 0, 0.801);
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  footer {
    height: auto; /* Adjust height as needed */
  }

  .social a {
    padding: 3px; /* Adjust padding as needed */
    
  }

  ul {
    font-size: 14px; /* Adjust font size as needed */
    
  }
}
