#womenbox img {
  height: 300px;
}
#women {
  background-color: rgb(226, 183, 183);
}
#womenbox {
  background-color: rgb(158, 113, 113);
}
#womenbox:hover {
  box-shadow: 15px 10px 10px rgb(158, 113, 113);
  transform: scale(1.1);
}
